VITE_API_BASE_URL=https://dev-api.halfchess.com

VITE_FIREBASE_API_KEY=AIzaSyBg5iR8onjBaYWjqsigD7PNA1YccrqIdI8
VITE_FIREBASE_AUTH_DOMAIN=hf-bet-app.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=hf-bet-app
VITE_FIREBASE_APP_ID=1:537026299712:web:5f199ba36635b9da6fdca5
VITE_FIREBASE_MESSAGING_SENDER_ID=537026299712

# Optional
VITE_FIREBASE_STORAGE_BUCKET=hf-bet-app.firebasestorage.app
VITE_FIREBASE_MEASUREMENT_ID=G-G4T3QTP1Q5

